@keyframes slidein {
  0% {
		margin-left: 0%;
		width: 100%;
	}
  100% {
		margin-left: 100%;
		width: 300%
	}
}

@keyframes reasons {
	from {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0);
	}
}

@keyframes label {
	from {
		transform: rotate(0);
	}
	50% {
		transform: rotate(5deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes labelW {
	from {
		transform: rotate(0);
	}
	50% {
		transform: rotate(-5deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes car {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	to {
		transform: scale(1);
	}
}
